/* CSS RESET START
http://meyerweb.com/eric/tools/css/reset/
Meyer is God
*/

/* v1.0 | 20080212 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:''; content:none; }

/* remember to define focus styles! */
:focus { outline:0; }

/* remember to highlight inserts somehow! */
ins { text-decoration:none; }
del { text-decoration:line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse:collapse; border-spacing:0; }

/* HTML5 Shizzle */
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section{ display: block; }
/*CSS RESET END*/



/*
Name: Troy Fugate Stylesheet
URI: http://www.backend.cc
Description: Stylesheet thing for making things look nice. No Bootstrap found
Version: 1.0
Author: Troy Fugate
Author URI: http://www.backend.cc
*/

body { background:#000; color:#fff; font-family:Consolas, 'Lucida Console', Monaco, monospace; font-size:1.15em; line-height:1.4; padding: 15px; }
#container { width:960px; }
a { text-decoration:none; }
a:hover { padding-bottom:1px; border-bottom:1px solid; }
a:active { padding-bottom:1px; border-bottom:2px solid; }
a:active,a:focus { outline:0; }
code,pre { font-family:Consolas, 'Lucida Console', Monaco, monospace; }
.comment { color:#94DC95; }
.script { color:#EA78E3; }
.attribute { color:#FBAC6A; }
.string { color:#6560f4; }
/*.string { color:#5D58E2; }*/
.text { color:#FFF; }
.comment a,a.comment { color:#94DC95; }
.script a,a.script { color:#EA78E3; }
.attribute a,a.attribute { color:#FBAC6A; }
.string a,a.string { color:#6560f4; }
.text a,a.text { color:#FFF; }
.unselectable { -moz-user-select:none; -khtml-user-select:none; user-select:none; }
.page-curl { z-index:9999; background:url(../img/fold-sw.png); width:80px; height:80px; position:fixed; right:0; text-indent:-9999px; opacity:0.9; -webkit-animation-duration: 1.3s; -webkit-animation-iteration-count: 1; -webkit-animation-timing-function: ease-in; -webkit-animation-name: fade;}
a.page-curl:hover { border:0; text-decoration::none; padding:0; opacity:1;}
@-webkit-keyframes fade { from { opacity: 0; } to { opacity: 0.9; } }
